<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <!--adding meta files-->
    <meta name="google-site-verification" content="OS9Cib8NHNVo5X3lJOKXdIrUjssiAxfDP2sWWBTuV7I" />
<meta name="description" content="Hi, I'm Makardhwaj Surwase, an enthusiastic front-end developer with a flair for creating captivating user interfaces. 
My journey into web development began with a passion for crafting visually stunning websites.">
<meta name="keywords" content="makardhwaj surwase portfolio,makardhwaj,makardhwaj prortfolio,best portfolio,top web developer portfolio,top 10 portfolio">
    <!-- Include your preferred icon library here (e.g., Font Awesome) -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN7Cq13tjn9+cb5l5dFqGJMEfHt9U" crossorigin="anonymous">
    
  <link rel="shortcut icon" type="image/png" href="avatar.png">
  <title>Makardhwaj H. Surwase portfolio</title>

</head>
<body>

  <div id="splash-screen">
    <div id="preloader">
      <div id="loader"></div>
      <div id="loading-text">Loading...</div>
    </div>
    
  </div>












  
   <header>
    <div class="str">
    <div class="mode">
  
      <div class="slider"></div>
    </div>
    
    <button class="nav2 nav3" onclick="scrollToSection('contact')">CONTACT  ME</button>

</div>
    



    <div class="nav">
      <div class="nav1" onclick="scrollToSection('home')" >HOME</div>
      <div class="nav1" onclick="scrollToSection('about')">EDUCATION</div>
      <div class="nav1"onclick="scrollToSection('projects')">SKILL</div>
      <div class="nav1" onclick="scrollToSection('contact')">CONTACT  ME</div></u>
      

  </div>
  


   </header>

   <section id="home">
   <div class="heading"> <h1 style="color:rgb(255, 34, 34); text-decoration: underline;">Hello!
   </h1><p class="heading1"> i'm Makardhwaj Surwase,<br>frontend  Developer.</p> </div>




   <div class="param">
    <div class="para">
      
      
      <img src="avatar.png"><br>
      <div class="cv-container">
        <a href="Surwase Makardhwaj-Resume.pdf" class="cv-link">Download CV</a>
      </div>
    
    
    
      <div class="social">
        <div class="social-icons">
          <a href="mailto:mhs93679@gmail.com" class="icon mail"></a>
          <a href="https://www.linkedin.com/in/makardhwaj-surwase-0a34b827b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" 
          class="icon linkdain"></a>
          <a href="https://x.com/MS539304771304?t=Z0Z6qBJkREh_z8_rL0SfpQ&s=09" class="icon x"></a>
          <a href="https://wa.me/+917798366613" class="icon wp"></a>
          <!-- Add more social media icons as needed -->
        </div>



      </div>
    
    
    
    
    
    
    
    </div><br>
      
    
    
    
    
    
    <div class="par"><h1 style="font-size: 31px; margin-bottom: 15px; text-decoration:underline; color:rgb(255, 25, 0);
      ">About Me</h1>
        <p ><span class="phr"> I'm Makardhwaj Surwase, an enthusiastic front-end developer with a flair for creating captivating user interfaces. 
          My journey into web development began with a passion for crafting visually stunning websites. </span></p>
<style>
 
</style>

          <ul class="ul1">
            <li><span class="bcolor">Name: </span>Makardhwaj Surwase</li>
            <li><span class="bcolor">DOB:</span>2001-09-16</li>
            <li><span class="bcolor">Email:</span>mhs93679@gmail.com</li>
            <li><span class="bcolor">Address:</span>Karve Nagar,Pune</li>
            <li><span class="bcolor">Nationality:</span>Indian</li>
            <style>
              .bcolor{
                color:#c61a1a;
                font-style: italic;

              }
            </style>
          </ul>
       
          <div class="quiz">
            <button class="button">Play A Quiz</button><br>
            <button class="button1 bh">close Quiz</button><br>
        <div class="Play">
            <div class="que"></div>   

            <div class="ans">
            <div class="ans1" for="myCheckbox">
              </div>
              <div class="ans2" for="myCheckbox"></div>
              <div class="ans3" for="myCheckbox"></div>
              <div class="ans4" for="myCheckbox"></div>
          </div>

          <div class=" boxs">
            <span class="boxh box3"> <span class="box1" onclick="previousQuestion()">previos</span></span> 
           <span class="box2" onclick="nextQuestion()">next</span>
            <!-- <button onclick="restartQuiz()" class="restart-btn"></button> -->
              </div>
                  </div>
                </div>
          <!-- <input type="checkbox" id="myCheckbox" name="myCheckbox"> -->




   </div>
   </div>
</section>

<section id="about">
   <section class="timeline-section">
    <div class="Edu">Education</div>
    <div class="timeline-items">
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">2019-2022</div>
        <div class="timeline-content">
          <h3>Bachelors Degree</h3>
          <p>Bachelors Of Computer Science From COCSIT College Latur. </p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">2022</div>
        <div class="timeline-content">
          <h3>Full Stack Java Course</h3>
          <p>Completed Full Stack Java From The Profound Edutech Pune. </p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">2023</div>
        <div class="timeline-content">
          <h3>Web Development Course</h3>
          <p>Completed Web Development From The Great Learning </p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">2022-2024</div>
        <div class="timeline-content">
          <h3>Masters Degree</h3>
          <p>Master Of Computer Science From COCSIT College Latur. </p>
        </div>
      </div>
      
  </section></section>
  
  <div class="skillm">
  <section id="projects">

  <div class="skil" style="font-size: 50px;">Skills</div>

  <div class="disp">

    <div class="skills">
      <div class="skill">
        <div class="skill-name">HTML</div>
        <div class="skill-bar">
          <div class="skill-per" style="max-width:90%"></div>
        </div>
      </div>
    
      <div class="skill">
        <div class="skill-name">CSS</div>
        <div class="skill-bar">
          <div class="skill-per" per="70%" style="max-width:70%"></div>
        </div>
      </div>
    
      <div class="skill">
        <div class="skill-name">Javascript</div>
        <div class="skill-bar">
          <div class="skill-per" per="60%" style="max-width:60%"></div>
        </div> </div>

        <div class="skill">
          <div class="skill-name">Bootstrap</div>
          <div class="skill-bar">
            <div class="skill-per" per="75%" style="max-width:60%"></div>
          </div> </div>


    </div>
  
    <div class="skills">
      <div class="skill">
        <div class="skill-name">Java</div>
        <div class="skill-bar">
          <div class="skill-per" style="max-width:60%"></div>
        </div>
      </div>
    
      <div class="skill">
        <div class="skill-name">python</div>
        <div class="skill-bar">
          <div class="skill-per" per="50%" style="max-width:70%"></div>
        </div>
      </div>
    
      <div class="skill">
        <div class="skill-name">c</div>
        <div class="skill-bar">
          <div class="skill-per" per="40%" style="max-width:60%"></div>
        </div>
      </div>
      <div class="skill">
        <div class="skill-name">SQL</div>
        <div class="skill-bar">
          <div class="skill-per" per="70%" style="max-width:70%"></div>
        </div>
      </div>




    </div>

  </div>
  </section>
  </div>
  <div class="workc">
    <br>
  <div class="work" >My Recent Work</div>

 

  <div class="container">
    <div class="box"><a href="https://ssfixturing.com/">
      <img src="ss.jpeg" alt="Image 1">
      <div class="description">
        <h3>ssfixturing.com</h3></a>
        <p>Aspiring web developer with a passion for creating
          responsive and visually appealing websites.
          Developed www.ssfixturing.com using HTML, CSS, and
          JavaScript to showcase proficiency in front-end
          technologies. The website serves as a testament to my
          skills in crafting user-friendly interfaces and
          implementing interactive features.
          </p>
      </div>
     
    </div>

    <div class="box"><a href="https://makardhwaj.free.nf/">
      <img src="port.png" alt="Image 2">
      <div class="description">
        <h3>makardhwaj.free.nf</h3></a>
        <p>Welcome to my digital space! This portfolio is a reflection of my passion  and showcases my journey in the world of [specific skills or expertise]. 
          Crafted with HTML, CSS, and JavaScript, this dynamic website offers a glimpse into my professional identity and the projects that define my skills.</p>
      </div>
    </div>
  </div>
</div>

<footer>
<section id="contact">

  <h2 class="con">Contact Me:</h2>
  <div class="contact-form">
    
    
    <!-- <form id="contactForm" action="https://api.web3forms.com/submit" method="POST">
      <input type="hidden" name="access_key" value="51212237-b8ae-42f7-9c85-d730ceef6c68"> -->
      <form id="contactForm" action="/" method="post">
      <label for="name">Name:</label>
        
        <input type="text" id="name" name="contact[name]" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="contact[email]" required>

        <label for="message">Message:</label>
        <textarea id="message" name="contact[message]" required></textarea>

        <!-- <div class="submit"><input type="submit" value="Send Message" ></div> -->
        <button class="submit">submit</button>
    </form>
    <div style="margin-top: 20px;">
     <i> © 2023 All rights reserved.
      Developed and Designed by Makardhwaj.</i></div>
</div>












  
</section>
</footer>













<script src="index.js"></script>
<!-- <script src="contactcli.js"></script>
<script src="contactserv.js"></script> -->


</body>

</html>